@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #111111;
  letter-spacing: 0.05em;
  line-height: 1;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  color: #faf8ff;
}

h1,
.h1 {
  @apply text-3xl font-semibold tracking-tighter
}

h2,
.h2 {
  @apply text-2xl font-medium tracking-tighter
}

h3,
.h3 {
  @apply text-xl font-medium tracking-tighter
}

p,
.p {
  @apply text-base font-normal tracking-normal
}
