@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Neue Montreal Book';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Book'), url('ppneuemontreal-book.woff') format('woff');
}


@font-face {
  font-family: 'PP Neue Montreal Italic';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Italic'), url('ppneuemontreal-italic.woff') format('woff');
}


@font-face {
  font-family: 'PP Neue Montreal Thin';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Thin'), url('ppneuemontreal-thin.woff') format('woff');
}


@font-face {
  font-family: 'PP Neue Montreal Medium';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Medium'), url('ppneuemontreal-medium.woff') format('woff');
}


@font-face {
  font-family: 'PP Neue Montreal SemiBold italic';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal SemiBold italic'), url('ppneuemontreal-semibolditalic.woff') format('woff');
}


@font-face {
  font-family: 'PP Neue Montreal Bold';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Bold'), url('ppneuemontreal-bold.woff') format('woff');
}

html {
  background: #111111;
  letter-spacing: 0.05em;
  line-height: 1;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
.html {
  @apply font-inter
}

body {
  color: #faf8ff;
}

h1,
.h1 {
  @apply text-3xl font-normal tracking-tight
}

h2,
.h2 {
  @apply text-2xl font-light tracking-tighter
}

h3,
.h3 {
  @apply text-xl font-medium tracking-tighter
}

h4,
.h4 {
  @apply text-base font-extralight tracking-tighter
}

p,
.p {
  @apply text-sm font-extralight tracking-normal
}
